<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        id="com.example.signage.screen1"
        version="1.0.0"
        viewmodes="fullscreen"
        xmlns:tizen="http://tizen.org/ns/widgets"
        height="1080" width="1920">

  <content src="index.html"/>
  <name>Screen 1 Display</name>
  <description>Static signage screen showing menu 1</description>
  <author>Your Name</author>

  <tizen:setting 
    screen-orientation="landscape" 
    context-menu="disable" 
    background-support="disable" 
    encryption="disable" 
    install-location="removable"/>
</widget>
